.idea-container {
  width: 100vw;
  height: 60vh;
  display: flex;
}
.side {
  width: 50vw;
  background-color: blue;
  position: relative;
}

.side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bar {
  width: 60px;
  height: 100%;
  background-color: rgba(32, 89, 202, 0.3);
  position: absolute;
  animation-name: blur;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.value {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}
.bord {
  padding-top: 40px;
  width: 100px;
  border-bottom: 1px solid blue;
  
}

@keyframes blur {
  from {
    backdrop-filter: blur(3px);
  }
  to {
    backdrop-filter: blur(8px);
  }
}

@media screen and (max-width: 600px) {
  .idea-container {
    display: block;
    height: 100vh;
  }
  .side {
    height: 50vh;
    width: 100vw;
  }
  .value {
    width: 100%;
    height: 50vh;
  }
  .value h2 {
    padding-top: 30px;
  }
}
