.image {
  width: 500px;
}
.image img {
  position: absolute;
  max-width: 600px;
  max-height: 350px;
  left: 0;
  top: 80px;
}
.header-container {
  width: 100vw;
  height: 70vh;
  display: flex;
}
.primo {
  width: 40vw;
  color: rgb(255, 255, 255);
}
.segundo {
  width: 60vw;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  padding-right: 30px;
}
.segundo h1 {
  max-width: 600px;
  padding-bottom: 20px;
}
.segundo p {
  max-width: 600px;
}
@media screen and (max-width: 600px) {
  .header-container {
    flex-direction: column;
    height: 100vh;
  }
  .primo {
    width: 100vw;
    height: 50vh;
  }
  .segundo {
    width: 100vw;
    height: 50vh;
  }

  .image {
    width: 100vw;
  }
  .image img {
    width: 100%;
    object-fit: cover;
    position: inherit;
    top: 0;
  }
}
