.image {
  background-color: rgb(243,113,113);
  border-radius: 200px 200px 100px 100px;
  width: 300px;
  height: 350px;
  position: relative;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  overflow: hidden;

}


.design {
  border: 4px solid white;
  border-radius: 200px 200px 100px 100px;
  position: absolute;
  left: 20px;
  top: 30px;
  width: 300px;
  height: 350px;
  
}

.design2 {
  border: 4px solid black;
  border-radius: 200px 200px 100px 100px;
  position: absolute;
  left: 20px;
  top: 30px;
  width: 300px;
  height: 350px;
  
}



.mage1{
  position: absolute;
  top: 5px;
 width: 450px;
height: 500px;
}


.header-container {
  width: 100%;
  height: 70%;
  display: flex;
}
.primo {
  width: 50%;
  height: 500px;
  color: rgb(255, 255, 255);
  padding-right: 20px;
  padding-left: 10px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}




.segundo {
  width: 50%;
  height: 500px;
  position: relative;
}

.primo h1{
  max-width: 500px;
  
  padding-left: 30px;
}
.primo p {
  max-width: 500px;
  
  padding-left: 30px;
 
}





@media screen and (max-width: 600px) {
  .header-container {
    flex-direction: column;
    height: 100%;
  }
  .primo {
    width: 100%;
    height: 50%;
    padding-top: 50px;
    padding-bottom: 80px;
  }
  .mage1{
    top: 0px;
  
  }
  .segundo {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

  .image {
    width: 350px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    
  }
  .design{
    width: 300px;
    right: 20px;
    height: 350px;
  }
  
}
