/* DarkModeToggle.css */

.dark-mode-toggle {
  position: relative;
  background-color: rgb(249, 113, 113);
  border: none;
  cursor: pointer;
  outline: none;
  width: 54px;
  height: 24px;
  border-radius: 15px;
  padding: 2px;
}

.bubble {
  position: absolute;
  top: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #d7cccc;
  /* Light mode color */
  transition: left 0.3s;
  z-index: 10;
}

.dark .bubble {
  left: 32px;
  background-color: #051938;
  /* Dark mode color */
}